$primary: #e4f7e9;
$secondary: #09ce40;
@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif !important; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif !important; }
}
$headings-font-family: 'Inter', sans-serif !important;
$accordion-button-active-color: shade-color($secondary, 10%);
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "styles.scss";