body {
    font-family: 'Inter' !important;
}
.jumbotron {
    padding: 2rem 2rem;
}
.display-4{
    color: black;
    font-weight: bold;
    font-size: 2em;
    font-family: 'Open Sans';
}
.lead{
    font-size: 1.2em;
    color: black;
    font-family: 'Open Sans';
}
.nav-pills{
    font-size: large;
    margin-bottom: 40px;
    //background-color: $primary;
    padding: 3px;
    border-radius: 10px;
}
.nav-link{
    color: #09ce40 !important;
}
.m-5{
    display: flex;
    justify-content: center;
    position: relative;
}
.save-on-annual{
    position: absolute;
    bottom: 0;
    font-size: small;
}
.demo
{
	padding: 50px 0;
}
.heading-title
{
	margin-bottom: 50px;
}
.border-image-clip-path{
    border: 2px solid #09ce40;
}
.custom-price{
    @include font-size(2.2rem !important);
    padding-top: 30px;
    padding-right: 5px;
    word-break: break-all;
}

.pricingTable{
    height: 600px;
    max-height: 600px;
    width: auto;
    border: 2px solid #e3e3e3;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 60px;
    transform: translateZ(0px);
    box-shadow: 5px 6px 7px 0px rgba(212,212,212,0.89);
    -webkit-box-shadow: 8px 6px 11px 0px rgba(212,212,212,0.89);
    -moz-box-shadow: 8px 6px 11px 0px rgba(212,212,212,0.89);
}

.pricingTable:before,
.pricingTable:after{
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    bottom: -2px;
    right: -2px;
    z-index: -1;
    transition: all 0.5s ease 0s;
}

.pricingTable:before{
    border-right: 2px solid #09ce40;
    border-left: 2px solid #09ce40;
    transform: scaleY(0);
    transform-origin: 100% 0 0;
}

.pricingTable:after{
    border-bottom: 2px solid #09ce40;
    border-top: 2px solid #09ce40;
    transform: scaleX(0);
    transform-origin: 0 100% 0;
}

.pricingTable:hover:before{
    transform: scaleY(1);
}

.pricingTable:hover:after{
    transform: scaleX(1);
}

.pricingTable .pricingTable-header{
    height: 250px;
    max-height: 250px;
    background: $primary;
    color: black;
    margin: -2px -2px 35px;
    @include padding(2.5rem 0);
}

.pricingTable .heading{
    @include font-size(2rem !important);
    font-weight: 600;
    margin: 0 0 5px 0;
}

.pricingTable .subtitle{
    font-size: 0.9rem;//font-size: 14px;
    display: block;
}

.pricingTable .price-value{
    font-size: calc(3em + 0.1vw);//@include font-size(4rem !important);//font-size: 72px;
    font-weight: 600;
    margin-top: 10px;
    position: relative;
    display: inline-block;
}
.pricingTable .currency{
    @include font-size(2.8rem !important); // font-size: 45px;
    font-weight: normal;
    position: absolute;
    top: 2px;
    left: -30px;
}

.pricingTable .month{
    @include font-size(1.25rem !important);//  font-size: 20px;
    position: absolute;
    bottom: 17px;
    right: -40px;
    padding-left: 5px;
}

.pricingTable .pricing-content{
    list-style: none;
    padding: 0;
    margin-bottom: 30px;
}

.pricingTable .pricing-content li{
    font-size: calc(1rem * 0.1vw);
    color: #7a7e82;
    line-height: 40px;
}

.btn-secondary{
    @include font-size(1.2rem !important);
    font-weight: 700;
    color: white;
    bottom: 15px;
    position:absolute;
    left: 0;
    right: 0;
    margin-left: 90px;
    margin-right: 90px;
    transition: all 0.3s ease 0s;
    border-radius: 20px;
    box-shadow: 5px 6px 7px 0px rgba(212,212,212,0.89);
    -webkit-box-shadow: 8px 6px 11px 0px rgba(212,212,212,0.89);
    -moz-box-shadow: 8px 6px 11px 0px rgba(212,212,212,0.89);
}

.pricingTable .read:hover{
    border-color: #09ce40;
    color: #09ce40;
}
.accordion-item{
    margin: 20px;
    box-shadow: 8px 6px 11px 0px rgba(212,212,212,0.89);
    -webkit-box-shadow: 8px 6px 11px 0px rgba(212,212,212,0.89);
    -moz-box-shadow: 8px 6px 11px 0px rgba(212,212,212,0.89);
}
.accordion accordion-flush{
    margin-bottom: 80px;
    margin: 50px;
}
.accordion-button{
    height: 100px;
    min-height: 100px;
    max-height: 100px;
    font-size: large;
    font-weight: bold;
}
.p-3{
    color: #09ce40;
    font-weight: bold;
    cursor: pointer;
}
.p-3:hover{
    transition: ease-in-out;
    box-shadow: 5px 6px 7px 0px rgba(212,212,212,0.89);
    -webkit-box-shadow: 8px 6px 11px 0px rgba(212,212,212,0.89);
    -moz-box-shadow: 8px 6px 11px 0px rgba(212,212,212,0.89);
}

@media screen and (max-width: 990px){
    .pricingTable
    { 
        margin-bottom: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .pricingTable .pricing-content li{
        font-size: 0.6rem !important;
    }
    .btn-secondary{
        font-size: 0.9rem !important;
        margin-left: 15px;
        margin-right: 15px;
    }
    .custom-price{
        font-size: 1.3rem !important;
    }
    .pricingTable .heading{
    @include font-size(1.75rem !important);
    font-weight: 600;
    margin: 0 0 5px 0;
}
    
}
@media screen and (max-width: 768px){
    .pricingTable .pricing-content li{
        font-size: 1rem !important;
    }
    .custom-price{
        font-size: 1.8rem !important;
    }
    .pricingTable .heading{
    @include font-size(2rem !important);
    font-weight: 600;
    margin: 0 0 5px 0;
    }
}

