
        <div class="container">
            <div class="m-4">
    <ul class="nav nav-pills mb-5 justify-content-center" id="myTab">
        <li class="nav-item">
            <a href="#monthly" class="nav-link active">Monthly</a>
        </li>
        <li class="nav-item">
            <a href="#yearly" class="nav-link">Yearly</a>
        </li>
    </ul>
            </div>
            <div class="tab-content">
    <div class="tab-pane fade show active" id="monthly">
            <div class="row">
                {{ $plans := getJSON "https://purchase-api.dynabic.com/v1.2/products/site-asposeapp/familyName-Aspose.Total?isArchived=false&clientkey=11f3e8f3c7db4393b887&signature=nJcm4W3dAbHTlltkS5FxaIUzJ9k" }}
                {{ range $plans }}
                <div class="col-md-4 col-sm-6"> 
                    <div class="pricingTable">
                        <div class="pricingTable-header border-image-clip-path">
                            <h3 class="heading">{{ .Name }}</h3>
                            <span class="subtitle">Lorem ipsum dolor sit amet</span>
                            {{ range first 1 .PricingPlans }}
                               {{ range .PaymentScheduleList }}
                            <div class="price-value">{{ .SubscriptionPeriodCharge }}
                                <span class="currency">$</span>
                                <span class="month">/mo</span>
                            </div>
                             {{ end }}
                                 {{ end }} 
                        </div>
                        <ul class="pricing-content">
                            <li>#######</li>
                            <li>#######</li>
                            <li>#######</li>
                            <li>#######</li>
                            <li>#######</li>
                        </ul>
                        <a href="#" class="read">Sign up<i class="fa fa-angle-right"></i></a>
                    </div>
                    
                </div>
                {{ end }}
            
       

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header border-image-clip-path">
                            <h3 class="heading">Business Aspose.Total</h3>
                            <span class="subtitle">Lorem ipsum dolor sit amet</span>
                            <div class="price-value">?
                                <span class="currency"></span>
                                <span class="month">/mo</span>
                            </div>
                        </div>
                        <ul class="pricing-content">
                            <li>#######</li>
                            <li>#######</li>
                            <li>#######</li>
                            <li>#######</li>
                            <li>#######</li>
                        </ul>
                        <a href="#" class="read">Contact Us<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                </div> 
            </div>



                <div class="tab-pane fade" id="yearly">
            <div class="row">
                {{ $plans := getJSON "https://purchase-api.dynabic.com/v1.2/products/site-asposeapp/familyName-Aspose.Total?isArchived=false&clientkey=11f3e8f3c7db4393b887&signature=nJcm4W3dAbHTlltkS5FxaIUzJ9k" }}
                {{ range $plans }}
                <div class="col-md-4 col-sm-6"> 
                    <div class="pricingTable">
                        <div class="pricingTable-header border-image-clip-path">
                            <h3 class="heading">{{ .Name }}</h3>
                            <span class="subtitle">Lorem ipsum dolor sit amet</span>
                            {{ range after 1 .PricingPlans }}
                               {{ range .PaymentScheduleList }}
                            <div class="price-value">
                                {{ .SubscriptionPeriodCharge }}
                                <span class="currency">$</span>
                                <span class="month">/year</span>
                            </div>
                             {{ end }}
                                 {{ end }} 
                        </div>
                        <ul class="pricing-content">
                            <li>#######</li>
                            <li>#######</li>
                            <li>#######</li>
                            <li>#######</li>
                            <li>#######</li>
                        </ul>
                        <a href="#" class="read">Sign up<i class="fa fa-angle-right"></i></a>
                    </div>
                    
                </div>
                {{ end }}
            
       

                <div class="col-md-4 col-sm-6">
                    <div class="pricingTable">
                        <div class="pricingTable-header border-image-clip-path">
                            <h3 class="heading">Business Aspose.Total</h3>
                            <span class="subtitle">Lorem ipsum dolor sit amet</span>
                            <div class="price-value">?
                                <span class="currency"></span>
                                <span class="month">/mo</span>
                            </div>
                        </div>
                        <ul class="pricing-content">
                            <li>#######</li>
                            <li>#######</li>
                            <li>#######</li>
                            <li>#######</li>
                            <li>#######</li>
                        </ul>
                        <a href="#" class="read">Contact Us<i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                </div> 
            </div>


            </div>

        </div>
    




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function(){
    var tabList = [].slice.call(document.querySelectorAll("#myTab a"));
    tabList.forEach(function(tab){
        var tabTrigger = new bootstrap.Tab(tab);

        tab.addEventListener("click", function(event){
            event.preventDefault();
            tabTrigger.show();
        });
    });
});
</script>